<app-header></app-header>
<div class="row">
  <div class="col-sm-2 col-md-1 affix-sidebar">
   
  </div>

  <div class="col-sm-8 col-md-10">
         
      
      <div >
               
          <h1>Oooops!! Cette page n'existe pas, </h1>

          <h3>voulez vous revenir à <a routerLink="/home">l'Accueil</a>?</h3>
          <div class="content-wrapper" style="margin-top: 40px;"></div>

          
     
  </div>
     
  </div>
  <div class="col-sm-2 col-md-1 affix-sidebar">
   
  </div>
</div>

<app-footer></app-footer>

        
        