@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
.footer-bottom {
    background-color: #2d2d2d;
    min-height: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
